@import url(./__info/navbar__info.css);
@import url(./__link/navbar__link.css);

.navbar{
    display: flex;
}
@media screen and (max-width: 768px) {
  .navbar {
    box-sizing: border-box;
    padding-bottom: 40px;
    width: 100%;
    max-width: 320px;
    display: grid;
    gap: 18px;
    border-bottom: 1px solid #545454;
    align-items: center;
    margin-bottom: 30px;
  }
}

