.navbar__info{
    margin-right: 24px;
}

.navbar__info:last-child{
    margin: 0;
}

.navbar__info:nth-child(2){
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .navbar__info{
        margin: 0;
    }
  }
  