.auth__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: opacity ease-out 0.5s;
}

@media screen and (max-width: 535px) {
  .auth__text {
    margin-top: 20px;
  }
}
.auth__text:hover {
  opacity: 0.5;
}
