.header__menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__menu {
    position: absolute;
    display: block;
    right: 30px;
    bottom: 30px;
    width: 24px;
    height: 24px;
    border: unset;
    background: no-repeat center ;
    background-size: 24px 24px;
    background-image: url(../../../images/menu.svg);
  }
}
