@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__info/header__info.css);
@import url(./__link/header__link.css);

.header {
  position: relative;
  margin-top: 45px;
  max-width: 882px;
  width: 100%;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 582px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 28px;
    max-width: 320px;
  }
}
