.form__input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    background-color: unset;
    color:white;
}

@media screen and (max-width:535px) {
    .form__input {
        font-size: 12px;
        line-height: 15px;
    }
}

.form__input:last-of-type{
    margin-bottom: 0;
}